html,
body {
    background-image: url('/images/todo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;

}

.content {
    text-align: center;
    width: 50%;
    margin-top: 22vmin;


}

.jumbotron {
    background: none;

}

.jumbotron h1 {
    color: aliceblue;
    font-weight: 900;
}

.jumbotron .lead {
    color: black;
    font-weight: 300;
}

.title {
    font-size: 84px;
}

.links>a {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}


.m-b-md {
    margin-bottom: 30px;
}
